header {
    padding-bottom: 20px;
    min-height: 150px; 
}

header > div {
    text-align: center;
    background-color: var(--cor1);
    padding: 30px;
}

div >img {
    width: 30%;
    min-width: 300px;
}

nav {
    padding: 1em;
    text-align: center;
}

nav a {
    text-decoration: none;
    padding-right: 40px;
    color: black;
    font-family: var(--fonte-link);
    font-weight: bold;
    font-size: 1.4em;
}

nav a:hover {
    text-decoration: underline;
    color: #8C0368;
}

main {
    margin: auto;
    padding: 20px;
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
}

main h1 {
    padding-bottom: 20px;
    font-family: var(--fonte-texto);
    font-size: 2em;
    color: #BF048D;
}

main h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: var(--fonte-texto);
    font-size: 2em;
    color: #BF048D;
}

main p {
    font-family: var(--fonte-link), Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
    max-width: 800px;
    line-height: 1.7em;
}

main img {
    width: 100%;
}

aside {
    font-family: var(--fonte-texto);
    margin: 30px;
    padding: 10px;
    font-size: 2em;
}

aside h3 {
    color: var(--cor3);
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 998px){
   
}
@media screen and (max-width: 676px){
   
}
@media screen and (max-width: 520px){
  
}
