@charset "UTF-8";

:root {
    --cor1: #a1f55383;
    --cor2: #51A800;
    --cor3: #6C86F5;
    --cor4: #F55B2C;
    --cor5: #0725A8;
    }

    * {
        min-width: 300px;
        max-width: 1000px; 
        margin: auto;
        border-radius: 10px;
    }

    body {
        background-color: var(--cor1);
    }

    header {
        padding: 20px;
        background-color: var(--cor5);
        color: white;
        text-align: center;
    }

    nav {
        background-color: var(--cor4);
        padding: 30px;
        margin: 20px 0px;
    }

    nav a {
        padding-left: 10px;
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    nav a:hover {
        background-color: #1b2029;
        padding: 30px;
    }

    main {
        min-width: 300px;
         max-width: 1000px;
        background-color: var(--cor2);
        padding: 10px;
        margin: auto;
        margin: 20px 0px;
    }

    article {
        padding: 10px;
        font-size: 1.2em;
    }

    article > h2 {
        padding: 15px;
    }

    footer {
        min-width: 300px;
         max-width: 1000px;
        background-color: #022157;
        color: white;
        padding: 10px;
    }